@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('../libs/quickmenu/lib/font-awesome/css/font-awesome.min.css');

:root {
    --black     : rgb(0  , 0  , 0  );
    --blue      : rgb(52 , 82 , 255);
    --dark-grey : rgb(81 , 89 , 97 );
    --grey      : rgb(241, 242, 246);
    --white     : rgb(255, 255, 255);
}

*::before { margin : unset; padding : unset; }
*         { margin : unset; padding : unset; }
*::after  { margin : unset; padding : unset; }

html {
    height           : 100%; 
    width            : 100%;
}

body {
    height           : 100%; 
    width            : 100%;
    overflow         : auto;
    background-image : url('/images/background-nantes-univ.png'); 
    background-size  : cover; 
    color            : var(--dark-grey);
    font-family      : Source Sans Pro;
}

header {
    height           : 6%; 
    width            : 98%; 
    padding          : 0 1%; 
    display          : flex; 
    flex-direction   : row;
    align-items      : center;
    background-color : var(--black);
    color            : var(--white);
}

header * {
    display          : flex; 
    flex-direction   : inherit;
}

header a {
    justify-content  : center;
    align-items      : center;
}

nav {
    height           : 100%;
    width            : 100%;
    align-items      : center;
}

nav > a {
    height           : -webkit-fill-available; 
    width            : fit-content;
}

#logoNU {
    height           : 80%; 
}

menu {
    width            : 30%;
    position         : absolute; 
    right            : 1%;
    justify-content  : flex-end; 
    align-items      : center;
    gap              : 25px;
}

menu li {
    height           : 100%; 
}

menu #google_translate_element {
    height           : 100%; 
    width            : fit-content;
    margin           : 0 5%;
}

menu button {
    height           : fit-content; 
    width            : fit-content;
    display          : flex; 
    flex-direction   : row; 
    gap              : 2.5%;
    border           : none; 
    border-radius    : 5px; 
    border-color     : var(--black);
    background-color : var(--white); 
    color            : var(--dark-grey);
    white-space      : nowrap;
}

menu button b {
    padding          : 7px;
}

menu a {
    height           : 100%; 
    width            : 100%;
    padding          : 0 15%;
    display          : flex; 
    flex-direction   : column;
    font-size        : 8pt;
    white-space      : nowrap;
}

menu a:hover {
    .icone-menu {
      text-decoration: underline;
    }
}

menu a:focus {
    .icone-menu {
      text-decoration: underline;
    } 
}

menu a img {
    height           : 30px; 
    width            : 30px;
    margin           : 2.5% 0 0;
}

a {
    background-color : inherit; 
    color            : inherit;
    cursor           : pointer;
}

/* "Rustine pour que cela fonctionne sur Firefox */
#logoNU, #logoFrance2030, #logoPaysDeLaLoire, #logoNantesMetropole, #logoEUniWell, #logoNEXT {
    height           : 30px; 
}

body.firefox-warning-active {
    margin-top: 40px; /* Hauteur du bandeau + un peu de marge */
}
.alert-banner {
    background-color: #ff4444;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none; /* Masqué par défaut */
}